#myCanvas{
    margin: auto;
    display: block;
    border: 5px dotted red;
    padding: 10px;
    background-color: black
    
}


.upTop{
    text-align: center;
}

.row{
    display:table;
    

}
.column{
    display: table-cell;

}

#compSide{
  vertical-align: top;
    padding-right: 50px;
    padding-left: 25px;
}

#humanSide{
    vertical-align: top;
    padding-left: 50px;
}